/* for whole body */
* {
    margin: 0;
    padding: 0;
}

/* common shared styles */
body {
    font-family: Lato;
}

/* banner-section styles here */
.banner-section {
    display: flex;
    gap: 50px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
}

.banner-info {
    padding-left: 140px;
}

.banner-section img {
    width: 635px;
    height: 700px;
    padding-bottom: 0px;
    margin-right: 50px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-right: 30px;
}

.btn {
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    background-color: pink;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    margin-top: 32px;
    border: 0;
}

/* feature-section styles here */
.feature-section {
    height: 150vh;
}

.feature-section h4 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 80px;
}

.feature-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
}

.featured-flowers-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.flower-photo {
    height: auto;
    width: 200px;
    object-fit: cover;
}

.flower-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 300px 300px 0px 0px;
    height: 400px;
    width: 300px;
}

.color3 {
    background: rgba(71, 125, 17, 0.15);
}

.color2 {
    background: rgba(5, 151, 160, 0.15);
}

.color1 {
    background: rgba(167, 33, 98, 0.15);
}

.featured-flowers-img p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-decoration-line: underline;
}

.information-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    width: 87%;
    margin: auto;
    margin-top: 80px;
}
.information-description{
    margin: 70px;
    text-align: center;
}

/* hot-deal-section styles here */
.hot-deal-section {
    height: 70vh;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-info {
    margin-left: 60px;
}

.hot-deal-info h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.hot-deal-info span {
    color: #E55473;
}

.hot-deal-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.hot-deal-info button {
    margin-top: 32px;
}

.hot-deal-img {
    margin-right: 60px;
}

/* best-selling section styles here */
.best-selling-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 70vh;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.best-selling-description {
    padding: 20px;
}

.best-selling-flower-images img {
    width: 230px;
    height: 250px;
}

.best-selling-section h3 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.best-selling-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* instagram-section styles here */
.instagram-section {
    height: 130vh;
}

.instagram-info h4 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 80px;
}

.instagram-info p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.instagram-section-photos {
    margin-left: 160px;
}

.instagram-section-photos img {
    width: 280px;
    height: 300px;
    margin-right: 5px;
}

/* deals styles here */

.deals-container {
    background-image: url("../images/Rectangle\ 9.png");
    background-size: 100% 100%;
    width: 78%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
}

.deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
}

.deals-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.input-section {
    width: 30%;
    margin-right: auto;
    margin-left: 245px;
}

.input-section input {
    padding: 23px 513px 22px 22px;
    margin-top: 30px;
    border: 0;
}

.deals-btn {
    margin-bottom: 10px;
}

/* footer section styles here */
.footer-section {
    height: 50svh;
    background-color: #111010;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.footer-title span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 18px;
}

.copyright-section {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}